/* Agile popup, full-screen experimental view */
.yt-issue-layout .harvest-timer.styled {
  border-left: 0;
  padding: 4px 6px;
  border-radius: 0 2px 2px 0;
  float: none !important;
  margin-right: 0 !important;
}
